body {
    background-color:#f1f1f1;
    font-family: verdana;
    margin: 0;
    padding: 0;
    min-height: 9vh;
    text-align: center;
} 
main{
    margin: 0 0 auto 280px;
}

/* Sidebar */
#sidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

#sidebar-nav span {
    display: inline-block;
    width: 80%;
    text-align: left;
}
#prioritario-a {
    background-color: lightseagreen !important;
}

/*Footer*/
footer{
    background-color: lightseagreen;
    color: white;
    padding: 5px;
    text-align: center;
    min-height: 10vh;
}
footer li {
    margin: 0px;
    padding-left: 0;
    list-style: none;
    display: inline;
    padding: 20px;
    height: auto;
}
footer ul {
    margin: 0px;
    padding-left: 0;
}
.main p {
    margin-top: 100px;
}





/*Estilos de w3schools*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
body {
  margin:0;
  font: 600 18px 'Source Sans Pro', sans-serif;
  letter-spacing: 0.64px;
  color: #585d74;
  min-height: 100vh;
}
.topnav {
  background-color: lightseagreen;
  color:#ffffff;
  padding:15px;
  display: flex;
  justify-content: start;
}
.topnav a:link, .topnav a:visited {
  text-decoration: none;
  color: #ffffff; 
}
.topnav a:hover, .topnav a:active {
  text-decoration: underline;
}
.mycard {
  background-color: #f1f1f1;
  background-image: linear-gradient(to bottom, lightseagreen, rgb(135, 201, 197)); 
  background-size: 100% 120px;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23); 
  padding: 20px;
}
.mycard h1 {
  text-align: center;
  color:#ffffff;
  margin:20px 0 60px 0;
}
.mycard ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.mycard li {
  background-color: #ffffff;
  background-image: linear-gradient(to right, lightseagreen, rgb(41, 152, 146)); 
  background-size: 50px 60px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform .25s;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  padding: 15px;
  padding-left: 70px;
  margin-top: 5px;
}
.mycard li:hover {
  transform: scale(1.1);
}
.mycard a:link {
  color: lightseagreen; 
}
a:visited{
    color: grey;
}

.main{
    text-align:center;
    color:lightseagreen;
    min-height: 80vh;
}

.main h1 {
  text-align:center;
  color:lightseagreen;
  margin-top: 30px;
}
.main h3 {
    margin-top: 20px;
}
.enlaces{
    text-align:center;
    color:black;
}